<div class="animate__animated animate__fadeIn animate__faster">
  <h2>By Country</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-country-input
        (onEnter)="search($event)"
        (onDebounce)="suggestions($event)"
        placeHolderTxt="Search by country ..."
      ></app-country-input>
    </div>
  </div>

  <ul *ngIf="viewSuggestion" class="list-group">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let country of countriesSugges"
    >
      <a class="nav-link" [routerLink]="['/country', country.alpha2Code]">{{
        country.name
      }}</a>
    </li>

    <li class="list-group-item list-group-item-action">
      <a class="nav-link" (click)="searchSuggestion(term)">
        Search {{ term }}
      </a>
    </li>
  </ul>

  <hr />
</div>

<div *ngIf="isError" class="alert alert-danger">Not found {{ term }}</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col" *ngIf="!isError">
    <app-country-table [countriesResp]="countries"></app-country-table>
  </div>
</div>
