<div *ngIf="!country; else divCountry" class="alert alert-info">
  Please wait ...
</div>

<div class="animate__animated animate__fadeIn animate__faster">
  <ng-template #divCountry>
    <div class="row">
      <div class="col-12">
        <h1>
          Country: <small>{{ country.name }}</small>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <h3>Flag :</h3>
        <img [src]="country.flag" class="img-thumbnail" alt="flag country" />
      </div>

      <div class="col">
        <h3>Information :</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Population: </strong> {{ country.population | number }}
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</div>
