<div class="animate__animated animate__fadeIn">
  <h3>
    Sear by Region <small> {{ regionActive | titlecase }} </small>
  </h3>

  <h5>Select Region</h5>

  <!-- [class.btn-primary]="region === regionActive" -->
  <!-- [[ngClass]="{ 'btn-primary': region === regionActive}, 'btn-outline-primary':
  regionActive !== region"] -->

  <div class="row">
    <div class="col">
      <button
        *ngFor="let region of regions"
        [class]="getClassScss(region)"
        (click)="activatedRegion(region)"
      >
        {{ region | titlecase }}
      </button>

      <div class="row" *ngIf="countriesRegion.length > 0">
        <div class="col">
          <app-country-table
            [countriesResp]="countriesRegion"
          ></app-country-table>
        </div>
      </div>
    </div>
  </div>
</div>
