<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Name</th>
      <th>Población</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="animate__animated animate__fadeIn animate__faster"
      *ngFor="let country of countriesResp; let i = index"
    >
      <td>{{ i + 1 }}</td>
      <td>
        <img class="small-flag" src="{{ country.flag }}" alt="flag country" />
      </td>
      <td>{{ country.capital }}, {{ country.name }}</td>
      <td>{{ country.population | number }}</td>
      <td>
        <a [routerLink]="['/country', country.alpha2Code]">Ver más ...</a>
      </td>
    </tr>
  </tbody>
</table>
